<!--The content below is only a placeholder and can be replaced.-->
<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" placeholder="Type in your acronym.." [(ngModel)]="acronymName">
     <button (click)="searchAcronym(acronymName)" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>

<div>
  <table>
    <tr *ngFor="let hero of users$">
      <td>{{hero.code}}</td>
      <td>{{hero.definition}}</td>
    </tr>
  </table>
</div>
</div>

